body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

button {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 12px;
    border: none;
    color: #fff;
    background: #1bbc9b;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease 0.3s;
}

button:hover {
    background-color: #16a086;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 22px 40px;
}

/* logo */

.logo {
    display: flex;
    width: 208px;
    height: 47px;
}

.logo-title {
    margin-left: 14px;
    color: #444444;
}

.logo-title h3 {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.logo-title p {
    font-size: 14px;
}

/* nav */

.nav {
    width: 317px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    background: #fff;
    transition: all ease 0.2s;
    color: #000;
    font-weight: 400;
    letter-spacing: 0;
}

.nav-link:hover {
    background: #1bbc9b;
    color: #fff;
}

/* home-page */

.home-page {
    background: url(./images/jumbotron.png), no-repeat;
    background-size: cover;
    background-position: center;
    height: 453px;
    text-align: center;
    padding-top: 78px;
}

.home-page h1 {
    font-size: 55px;
    color: #fff;
    font-weight: 300;
}

.home-page span {
    font-weight: 400;
}

.home-page p {
    width: 574px;
    font-size: 17px;
    margin: 44px auto;
    color: #fff;
    font-weight: 300;
}

/* portfolio */

.portfolio {
    text-align: center;
    color: #444444;
}

.portfolio h2 {
    font-size: 28px;
    margin-top: 54px;
    font-weight: 400;
}

.portfolio p {
    margin-top: 17px;
    margin-bottom: 34px;
    font-weight: 400;
}

/* nav-filter */

.nav-filter {
    margin-bottom: 42px;
}

.nav-filter button {
    margin: 0 5px;
    text-transform: none;
}

/* examples */

.examples {
    display: flex;
    flex-wrap: wrap;
    gap: 34px 66px;
    width: 87%;
    justify-content: center;
    margin: 0 auto;
}

.example img {
    width: 170px;
    height: 180px;
}

/* about-as */

.about-as {
    background: #16A086;
    color: #fff;
    text-align: center;
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 74px;
}

.about-as h2 {
    font-size: 28px;
    margin-bottom: 18px;
}

.about-as p {
    font-size: 14px;
    margin-bottom: 43px;
}

/* workers */

.workers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 11%;
}

.worker {
    width: 220px;
    background: #fff;
    color: #000;
}

.worker-img {
    position: relative;
}

.worker-img:hover .social-media {
    display: flex;
}

.social-media {
    position: absolute;
    background: #16A086;
    opacity: 0.8;
    width: 183px;
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
    top: calc(50% - 26px);
    left: calc(50% - 91px);
    display: none;
}

.social-media img {
    cursor: pointer;
    opacity: 1;
}

.worker-name {
    margin-top: 20px;
}

.worker-name h4 {
    font-size: 18px;
    font-weight: 400;
}

.worker-name p {
    font-style: italic;
    margin-top: 7px;
    margin-bottom: 20px;
}

.worker-description {
    text-align: left;
    margin-bottom: 20px;
}

.worker-description p {
    font-size: 14px;
    margin: 0 auto;
    width: 198px;
}